<nav class="navbar">
    <div class="nav_title">
      <a class="brand" href="{{ path('home_index') }}">SIGN-APP</a>
    </div>
    <div class="connected_user">
      {% if app.user %}
        <p> {{app.user.email}} </p>
        <button class="form_button logout_button"><a href="{{ path('app_logout') }}">LOGOUT</a></button>
      {% endif %}
    </div>
</nav>